<h1> Welcome to scheduled tweets </h1>

<% if Current.user %>
<!-- <%= Rails.application.credentials.dig(:twitter, :api_key) %> -->
<br />
<!-- <%= Rails.application.credentials.dig(:twitter, :api_secret_key) %> -->
<% end %>